<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29512331016-9l41q6uo4ab6acm74vcq97icbr2929um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29512331016-9l41q6uo4ab6acm74vcq97icbr2929um</string>
	<key>API_KEY</key>
	<string>AIzaSyDaAOZaOHvbWNkstL3HmJbCPzJ_KqN5ZDI</string>
	<key>GCM_SENDER_ID</key>
	<string>29512331016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internProjFl</string>
	<key>PROJECT_ID</key>
	<string>intern-proj-fl</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-proj-fl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29512331016:ios:9af1ea2ce86d06c4e346bd</string>
</dict>
</plist>